@model CourseDetailsViewModel
@{
    ViewData["Title"] = $"Course {Model.CourseDetails.Name}";
}

<h2>@ViewData["Title"] @Model.CourseDetails.Students students enrolled</h2>

<h3>
    Trainer : @Model.CourseDetails.Trainer
</h3>

<h4>
    @Model.CourseDetails.StartDate.ToShortDateString() - @Model.CourseDetails.EndDate.ToShortDateString()
</h4>

<h3>
    @Model.CourseDetails.Description
</h3>

@if (User.Identity.IsAuthenticated)
{
    if (Model.UserisSignedInCourse && Model.CourseDetails.EndDate.Date == DateTime.UtcNow.AddDays(1).Date)
    {
        <form asp-action="SubmitExam" asp-route-id="@Model.CourseDetails.Id" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <br />
            Upload Your Exam: 
            <input type="file" style="display:none" name="exam" accept=".zip"/> (only .zip files allowed)
            <button type="button" class="btn btn-default" onclick="document.getElementsByName('exam')[0].click()">Choose Your File</button>
            <br />
            <br />
            <input type="submit" class="btn btn-primary" value="Upload"/>
        </form>
        <br />
    }

    if (Model.CourseDetails.StartDate > DateTime.UtcNow)
    {
        if (Model.UserisSignedInCourse)
        {
            <form method="post" asp-route-id="@Model.CourseDetails.Id" asp-action="SignOut">
                <input type="submit" class="btn btn-primary" value="Sign Out" />
            </form>
        }
        else
        {
            <form method="post" asp-route-id="@Model.CourseDetails.Id" asp-action="SignIn">
                <input type="submit" class="btn btn-primary" value="Sign Up" />
            </form>
        }
    }
    else
    {
        if (Model.CourseDetails.EndDate < DateTime.UtcNow)
        {
            <span>This course has already finished</span>

        }
        else
        {
            <span>This course has already started</span>
        }
    }
}
else
{

    <span>TO sign in this course, please 
    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">login</a> 
    into your account/</span>
}

